/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-size: 100% auto;
  font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-style: normal;
  font-weight: 400;
  color: #142C4A;
  overflow-x: hidden; }

input, button, keygen, textarea, select {
  margin: 0;
  appearance: none; }

input:focus,
textarea:focus,
keygen:focus,
select:focus {
  outline: none; }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  color: #FF6154;
  text-decoration: none;
  transition: all 0.2s; }
  a:hover {
    text-decoration: underline; }

p {
  line-height: 1.8;
  font-size: 14px;
  margin: 0; }

h2 {
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px; }

h3 {
  font-size: 21px;
  line-height: 29px;
  font-weight: 800; }

h4 {
  text-transform: uppercase;
  margin-top: 60px;
  letter-spacing: 1.3px;
  font-size: 18px;
  line-height: 1.8; }

.orange {
  color: #FF6154; }

.green {
  color: #34F5B9; }

.blue {
  color: #3884F9; }

.purple {
  color: #8155EB; }

.bobbing {
  animation: bobbing 6000ms ease-in-out infinite alternate; }

@keyframes bobbing {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0); } }

@keyframes swimmingCircle {
  0% {
    transform-origin: 400% 50%;
    transform: rotate(0); }
  100% {
    transform-origin: 400% 50%;
    transform: rotate(360deg); } }

.btn {
  border-radius: 100px;
  border: none;
  padding: 18px 30px;
  transition: all 0.2s;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-size: contain;
  text-shadow: 0 1px 1px rgba(15, 34, 58, 0.19);
  color: #FFFFFF;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  text-align: center; }
  .btn:hover {
    text-decoration: none; }
  .btn-sm {
    padding: 10px 20px;
    font-size: 12px; }
  .btn-orange {
    background: #E74F43 url(../images/buttons/orange.png) no-repeat right bottom; }
    .btn-orange:hover {
      background-color: #db2a1c; }
  .btn-green {
    background: #27B085 url(../images/buttons/green.png) no-repeat right bottom; }
    .btn-green:hover {
      background-color: #1e8665; }
  .btn-purple {
    background: #5627B0 url(../images/buttons/purple.png) no-repeat right bottom; }
    .btn-purple:hover {
      background-color: #421e86; }
  .btn-blue {
    background: #274FB0 url(../images/buttons/blue.png) no-repeat right bottom; }
    .btn-blue:hover {
      background-color: #1e3c86; }
  .btn svg {
    margin-left: 10px; }

form {
  float: right; }
  @media only screen and (max-width: 768px) {
    form {
      float: none;
      max-width: 300px;
      margin: 0 auto; } }
  form .form-inside {
    border: 2px solid #3E517E;
    border-radius: 50px;
    display: flex;
    padding: 2px; }
    form .form-inside input[type="email"] {
      border: none;
      padding: 5px 0 5px 20px;
      background: none;
      color: #FFFFFF;
      flex-grow: 1;
      font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
      font-size: 12px;
      min-width: 180px; }
    form .form-inside input[type="submit"] {
      font-size: 11px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 600;
      color: #FFFFFF;
      background: #27B085;
      border: none;
      border-radius: 50px;
      padding: 8px 18px;
      transition: all 0.2s; }
      form .form-inside input[type="submit"]:hover {
        cursor: pointer;
        background: #1e8665; }
    form .form-inside ::-webkit-input-placeholder {
      color: #FFFFFF; }
    form .form-inside :-moz-placeholder {
      color: #FFFFFF; }
    form .form-inside ::-moz-placeholder {
      color: #FFFFFF; }
    form .form-inside :-ms-input-placeholder {
      color: #FFFFFF; }
    form .form-inside :placeholder-shown {
      color: #FFFFFF; }

nav {
  width: 100%;
  z-index: 1; }
  @media only screen and (max-width: 768px) {
    nav {
      display: none; } }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40PX; }
    nav ul li {
      margin: 0 40px; }
      @media only screen and (max-width: 992px) {
        nav ul li {
          margin: 0 20px; } }
      nav ul li a {
        color: #142C4A;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        position: relative; }
        nav ul li a:before, nav ul li a:after {
          content: "";
          position: absolute;
          bottom: -7px;
          width: 0px;
          height: 3px;
          margin: 0 0 0;
          transition: all 0.2s ease-in-out;
          transition-duration: 0.25s;
          opacity: 0;
          background-color: #FF6154;
          left: 0; }
        nav ul li a:hover {
          cursor: pointer;
          text-decoration: none; }
          nav ul li a:hover:before, nav ul li a:hover:after {
            width: 100%;
            opacity: 1; }
      nav ul li:last-child a {
        border: 3px solid #FF6154;
        color: #142C4A;
        text-shadow: none; }
        nav ul li:last-child a svg path {
          fill: #FF6154; }
        nav ul li:last-child a:hover {
          background: #FF6154;
          color: #FFFFFF; }
          nav ul li:last-child a:hover:before, nav ul li:last-child a:hover:after {
            opacity: 0; }
          nav ul li:last-child a:hover svg path {
            fill: #FFFFFF; }

.cloud {
  position: absolute;
  max-width: 300px;
  animation-iteration-count: infinite; }
  @media only screen and (max-width: 768px) {
    .cloud {
      display: none; } }
  .cloud-1 {
    right: 200px;
    top: 300px;
    animation-name: cloud-right-1;
    animation-duration: 50s; }
  .cloud-2 {
    left: 100px;
    top: 360px;
    animation-name: cloud-left-2;
    animation-duration: 60s; }
  .cloud-3 {
    right: 100px;
    top: 440px;
    animation-name: cloud-right-1;
    animation-duration: 70s; }
  .cloud-4 {
    left: 50px;
    top: 200px;
    animation-name: cloud-left-2;
    animation-duration: 40s; }
  .cloud-5 {
    right: 100px;
    top: 140px;
    animation-name: cloud-right-1;
    animation-duration: 40s; }

@keyframes cloud-right-1 {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(-200px); }
  100% {
    transform: translateX(0); } }

@keyframes cloud-right-2 {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(-200px); }
  100% {
    transform: translateX(0); } }

@keyframes cloud-left-1 {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(200px); }
  100% {
    transform: translateX(0); } }

@keyframes cloud-left-2 {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(200px); }
  100% {
    transform: translateX(0); } }

.hero {
  background-color: #F6EAD0;
  background-image: url(/hero-bottom-new.png), url(/hero.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, 50% -100px;
  background-size: 100%, 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1260px;
  margin-bottom: -1px;
  position: relative; }
  @media only screen and (max-width: 1400px) {
    .hero {
      min-height: 1100px; } }
  @media only screen and (max-width: 1200px) {
    .hero {
      min-height: 1100px; } }
  @media only screen and (max-width: 992px) {
    .hero {
      min-height: 1000px; } }
  @media only screen and (max-width: 768px) {
    .hero {
      min-height: 720px;
      padding-top: 12vw; } }
  @media only screen and (max-width: 576px) {
    .hero {
      min-height: 600px; } }
  .hero-inside {
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    z-index: 1; }
    .hero-inside img {
      max-width: 400px;
      display: block;
      margin: 30px 0; }
      @media only screen and (max-width: 768px) {
        .hero-inside img {
          max-width: 70%;
          margin: 0 auto; } }
    .hero-inside h2 {
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 40px 0;
      text-align: center; }
      @media only screen and (max-width: 768px) {
        .hero-inside h2 {
          font-size: 12px; } }
      @media only screen and (max-width: 768px) {
        .hero-inside h2 {
          font-size: 10px; } }
      .hero-inside h2 span {
        color: #F7985C; }
    .hero-inside .disclaimer {
      font-weight: 400;
      margin-top: 10px;
      font-size: 12px; }

.about {
  background: #054B5D;
  background-image: url(/about-left.png), url(/about-right.png), url(/about-top.jpg);
  background-repeat: no-repeat, no-repeat,  no-repeat;
  background-position: center left, center right, center top;
  background-size: 240px auto, 285px auto, 100% auto;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  min-height: 1400px;
  padding-top: 100px;
  position: relative; }
  @media only screen and (max-width: 1200px) {
    .about {
      background-position: center left, 100% 0, center top;
      background-size: 200px auto, 225px auto, 100% auto; } }
  @media only screen and (max-width: 768px) {
    .about {
      padding-bottom: 100px; } }
  .about-inside {
    width: 100%;
    padding: 0 12vw;
    display: flex;
    z-index: 1; }
    @media only screen and (max-width: 768px) {
      .about-inside {
        flex-direction: column;
        padding: 0 6vw; } }
    .about-inside-left {
      width: 50%;
      display: flex;
      align-items: flex-start;
      flex-direction: column; }
      @media only screen and (max-width: 1400px) {
        .about-inside-left {
          width: 70%; } }
      @media only screen and (max-width: 768px) {
        .about-inside-left {
          width: auto; } }
      .about-inside-left img {
        max-width: 100%;
        border-radius: 5px;
        margin: 50px 0 15px; }
        @media only screen and (max-width: 768px) {
          .about-inside-left img {
            max-width: 360px; } }
        @media only screen and (max-width: 576px) {
          .about-inside-left img {
            max-width: 100%; } }
      .about-inside-left p {
        margin-bottom: 15px; }
      .about-inside-left ul {
        display: flex;
        flex-wrap: wrap; }
        .about-inside-left ul li {
          margin-bottom: 40px;
          padding-right: 40px;
          width: 33.3%;
          box-sizing: border-box;
          text-align: center;
          align-items: center;
          display: flex;
          flex-direction: column; }
          @media only screen and (max-width: 992px) {
            .about-inside-left ul li {
              width: 50%; } }
          .about-inside-left ul li span {
            font-size: 14px;
            line-height: 1.6;
            margin-bottom: 15px;
            display: block;
            font-weight: 600; }
            @media only screen and (max-width: 576px) {
              .about-inside-left ul li span {
                font-size: 12px; } }
          @media only screen and (max-width: 576px) {
            .about-inside-left ul li:nth-child(2) {
              margin-right: 0; } }
          .about-inside-left ul li:last-child {
            margin-right: 0;
            margin-bottom: 0; }
      .about-inside-left a.btn-green {
        margin-top: 20px; }
    .about-inside-right {
      width: 50%;
      position: relative; }
      @media only screen and (max-width: 1400px) {
        .about-inside-right {
          width: 40%; } }
      @media only screen and (max-width: 768px) {
        .about-inside-right {
          width: 100%; } }
      .about-inside-right .bubble {
        text-transform: uppercase;
        letter-spacing: 2px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: absolute; }
        @media only screen and (max-width: 992px) {
          .about-inside-right .bubble {
            display: none; } }
        .about-inside-right .bubble-1 {
          background-image: url(../images/bubble-1.png);
          width: 242px;
          height: 196px;
          top: 100px;
          left: 120px; }
          @media only screen and (max-width: 1200px) {
            .about-inside-right .bubble-1 {
              left: 80px; } }
          .about-inside-right .bubble-1-top {
            font-size: 48px;
            font-weight: 800; }
        .about-inside-right .bubble-2 {
          background-image: url(../images/bubble-2.png);
          width: 201px;
          height: 168px;
          top: 320px;
          left: 100px;
          font-size: 12px;
          line-height: 18px; }
          @media only screen and (max-width: 1200px) {
            .about-inside-right .bubble-2 {
              left: 60px; } }
          .about-inside-right .bubble-2-top {
            font-size: 36px;
            font-weight: 800;
            line-height: initial; }
        .about-inside-right .bubble-3 {
          background-image: url(../images/bubble-3.png);
          width: 123px;
          height: 129px;
          top: 500px;
          left: 200px;
          font-size: 10px;
          line-height: 16px; }
          @media only screen and (max-width: 1200px) {
            .about-inside-right .bubble-3 {
              left: 140px; } }
          .about-inside-right .bubble-3-top {
            font-size: 28px;
            font-weight: 800;
            line-height: initial; }
        .about-inside-right .bubble-4 {
          background-image: url(../images/bubble-4.png);
          width: 72px;
          height: 102px;
          top: 640px;
          left: 160px; }
          @media only screen and (max-width: 1200px) {
            .about-inside-right .bubble-4 {
              left: 120px; } }
      .about-inside-right .element-1 {
        position: absolute;
        top: 740px;
        left: 160px; }
        @media only screen and (max-width: 1200px) {
          .about-inside-right .element-1 {
            left: 100px; } }
        @media only screen and (max-width: 992px) {
          .about-inside-right .element-1 {
            left: 20px; } }
        @media only screen and (max-width: 768px) {
          .about-inside-right .element-1 {
            top: -260px;
            right: 20px;
            left: auto; } }
        @media only screen and (max-width: 576px) {
          .about-inside-right .element-1 {
            display: none; } }
  .about .beams {
    top: -110px;
    width: 100vw;
    height: 708px;
    position: absolute;
    overflow-x: hidden; }
    @media only screen and (max-width: 1200px) {
      .about .beams {
        top: -70px; } }
    @media only screen and (max-width: 992px) {
      .about .beams {
        top: -55px; } }
    @media only screen and (max-width: 768px) {
      .about .beams {
        top: -35px; } }
    .about .beams .beam {
      position: absolute; }
      .about .beams .beam-1 {
        left: 5%; }
      .about .beams .beam-2 {
        left: 20%;
        top: -140px; }
        @media only screen and (max-width: 1200px) {
          .about .beams .beam-2 {
            top: -105px; } }
        @media only screen and (max-width: 992px) {
          .about .beams .beam-2 {
            top: -85px; } }
        @media only screen and (max-width: 768px) {
          .about .beams .beam-2 {
            top: -55px; } }
      .about .beams .beam-3 {
        left: 30%; }
      .about .beams .beam-4 {
        left: 45%; }
      .about .beams .beam-5 {
        left: 60%; }
      .about .beams .beam-6 {
        left: 80%; }
      .about .beams .beam-7 {
        left: 90%;
        top: -140px; }
        @media only screen and (max-width: 1200px) {
          .about .beams .beam-7 {
            top: -80px; } }
        @media only screen and (max-width: 992px) {
          .about .beams .beam-7 {
            top: -65px; } }
        @media only screen and (max-width: 768px) {
          .about .beams .beam-7 {
            top: -45px; } }
  .about .diver {
    position: absolute; }
    .about .diver-1 {
      left: 40%;
      top: 22%; }
      .about .diver-1:after {
        content: url("../images/bubbles.svg");
        position: absolute;
        bottom: 25%;
        right: 60px;
        width: 40px;
        height: 67px;
        z-index: -1;
        opacity: .5; }
    .about .diver-2 {
      left: 50%;
      top: 15%; }
      .about .diver-2:after {
        content: url("../images/bubbles.svg");
        position: absolute;
        bottom: 17%;
        left: 34px;
        width: 30px;
        height: 50px;
        z-index: -1;
        opacity: .3;
        transform: rotateY(180deg);
        transform-origin: bottom center; }
  .about .about-fish {
    position: absolute;
    right: 6vw;
    top: 12vw;
    width: 10vw;
    animation: bobbing 9000ms ease-in-out infinite alternate; }
    @media only screen and (max-width: 768px) {
      .about .about-fish {
        width: 20vw; } }
  .about .about-jellyfish {
    position: absolute;
    right: 6vw;
    top: 79%;
    width: 40px;
    animation: bobbing 6000ms ease-in-out infinite alternate-reverse; }

.speakers {
  background-color: #001f34;
  background-image: url(/speakers-top.jpg), url(/speakers-bottom.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  background-size: 100%, 100%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 1200px;
  padding-top: 300px;
  padding-bottom: 33vw;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .speakers {
      padding-top: 160px; } }
  .speakers-top {
    padding: 0 12vw;
    width: 100%;
    display: flex;
    margin: 0 auto;
    z-index: 1; }
    @media only screen and (max-width: 1200px) {
      .speakers-top {
        padding: 0 6vw; } }
    @media only screen and (max-width: 768px) {
      .speakers-top {
        flex-direction: column; } }
    .speakers-top-left {
      width: 60%; }
      @media only screen and (max-width: 768px) {
        .speakers-top-left {
          width: auto; } }
    .speakers-top-right {
      width: 40%;
      display: flex;
      align-items: flex-end;
      flex-direction: column; }
      @media only screen and (max-width: 768px) {
        .speakers-top-right {
          width: 100%;
          align-items: flex-start;
          padding-top: 30px; } }
  .speakers-middle {
    padding: 0 0 0 12vw;
    width: 100%;
    z-index: 1;
    margin-top: 50px; }
    @media only screen and (max-width: 1200px) {
      .speakers-middle {
        padding: 0 6vw; } }
    .speakers-middle img {
      width: 100%;
      max-width: 280px;
      border-radius: 5px;
      margin-bottom: 20px;
      display: block; }
    .speakers-middle span {
      display: block;
      font-size: 14px; }
      .speakers-middle span.name {
        font-weight: 800;
        font-size: 18px;
        margin: 10px 0 5px; }
    .speakers-middle a {
      display: block;
      font-size: 14px;
      margin-top: 5px; }
    .speakers-middle .slider {
      position: relative; }
      @media only screen and (max-width: 1400px) {
        .speakers-middle .slider .slick-list {
          margin: 0 auto; } }
      @media only screen and (max-width: 1200px) {
        .speakers-middle .slider .slick-list {
          display: none; } }
      .speakers-middle .slider .slick-list .slick-slide {
        margin-right: 20px; }
      .speakers-middle .slider .slick-prev,
      .speakers-middle .slider .slick-next {
        position: absolute;
        bottom: -100px;
        display: block;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        background: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        color: transparent;
        padding: 0;
        border: none;
        outline: none;
        z-index: 1;
        opacity: 0.5;
        transition: all 0.2s; }
        .speakers-middle .slider .slick-prev:hover, .speakers-middle .slider .slick-prev:focus,
        .speakers-middle .slider .slick-next:hover,
        .speakers-middle .slider .slick-next:focus {
          outline: none;
          color: transparent;
          opacity: 1; }
        @media only screen and (max-width: 1200px) {
          .speakers-middle .slider .slick-prev,
          .speakers-middle .slider .slick-next {
            display: none !important; } }
      .speakers-middle .slider .slick-prev {
        background-image: url(../images/btn-left.png);
        width: 79px;
        height: 76px;
        right: 12vw;
        transform: translateX(-90px); }
      .speakers-middle .slider .slick-next {
        background-image: url(../images/btn-right.png);
        width: 79px;
        height: 76px;
        right: 12vw; }
    .speakers-middle-mobile {
      display: none; }
      @media only screen and (max-width: 1200px) {
        .speakers-middle-mobile {
          display: flex;
          flex-wrap: wrap;
          margin-right: -20px; } }
      .speakers-middle-mobile div {
        width: 33.3%;
        margin-bottom: 40px;
        box-sizing: border-box;
        padding-right: 20px; }
        @media only screen and (max-width: 768px) {
          .speakers-middle-mobile div {
            width: 50%; } }
  .speakers-bottom {
    max-width: 1100px;
    margin: 0 auto; }
  .speakers .element-1 {
    position: absolute;
    left: 0;
    top: -80px;
    z-index: 0; }
    @media only screen and (max-width: 1200px) {
      .speakers .element-1 {
        max-width: 240px;
        top: 0; } }
    @media only screen and (max-width: 1200px) {
      .speakers .element-1 {
        max-width: 200px;
        right: 20px;
        left: auto;
        top: -80px; } }
  .speakers .fullWidth {
    width: 100vw;
    height: 14vw;
    top: -8vw;
    overflow: hidden;
    position: absolute; }
  .speakers .small-fish {
    position: absolute;
    right: 16vw;
    top: 6vw;
    width: 7vw;
    transform: perspective(400px) translate(-1200%, 25%) scale(1);
    animation: swimmingFish 24s ease infinite; }

@keyframes swimmingFish {
  0% {
    transform: perspective(400px) translate(-1200%, 10%) scale(1); }
  10% {
    transform: perspective(400px) translate(-1000%, -45%) scale(0.7);
    opacity: .6; }
  20% {
    transform: perspective(400px) translate(-700%, 0) scale(1.2);
    opacity: 1; }
  30% {
    transform: perspective(400px) translate(-500%, -30%) scale(1); }
  40% {
    transform: perspective(400px) translate(-400%, 10%) scale(0.8);
    opacity: .85; }
  50% {
    transform: perspective(400px) translate(-250%, -10%) scale(1);
    opacity: 1; }
  60% {
    transform: perspective(400px) translate(-100%, 35%) scale(0.65);
    opacity: .6; }
  75% {
    transform: perspective(400px) translate(150%, -15%) scale(0.55);
    opacity: .4; }
  90% {
    transform: perspective(400px) translate(240%, -40%) scale(0.95);
    opacity: .75; }
  100% {
    transform: perspective(400px) translate(600%, 100%) scale(0.5); } }

.schedule {
  position: relative;
  background-color: #051228;
  background-size: 100%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3vw }
  @media only screen and (max-width: 768px) {
    .schedule {
      padding-bottom: 45vw;
    } }
  .schedule canvas {
    margin-top: -20vw;
    width: 100vw;
    height: calc(100vw * .6333);
    background-color: #051228; }
    @media only screen and (max-width: 768px) {
      .schedule canvas {
        display: none; } }
  .schedule .element {
    position: absolute;
    z-index: 0; }
    .schedule .element-1 {
      top: 0;
      right: 20px; }
    .schedule .element-2 {
      bottom: 0;
      width: 100%; }
  .schedule-top {
    width: 100%;
    padding: 0 12vw;
    display: flex;
    margin: 0 auto;
    z-index: 1; }
    @media only screen and (max-width: 1200px) {
      .schedule-top {
        padding: 0 6vw; } }
    .schedule-top-left {
      width: 60%; }
      @media only screen and (max-width: 768px) {
        .schedule-top-left {
          width: auto; } }
  .schedule-day {
    width: 100%;
    padding: 0 12vw;
    margin: 0 auto;
    z-index: 1; }
    @media only screen and (max-width: 1200px) {
      .schedule-day {
        padding: 0 6vw; } }
    .schedule-day ul {
      width: 100%;
      column-count: 2; }
      @media only screen and (max-width: 768px) {
        .schedule-day ul {
          column-count: 1;
          height: auto; } }
      .schedule-day ul li {
        width: 99%;
        box-sizing: border-box;
        border-radius: 5px;
        text-transform: uppercase;
        padding: 15px 0;
        font-weight: 800;
        font-size: 12px;
        display: inline-flex;
        letter-spacing: 2px; }
        .schedule-day ul li:nth-child(odd) {
          background: #0B253A; }
        .schedule-day ul li span {
          display: inline-block; }
        .schedule-day ul li .time {
          width: 20%;
          padding-left: 15px;
          min-width: 150px;
          text-align: right;
          padding-right: 10px; }
        .schedule-day ul li .am-pm {
          width: 10%;
          min-width: 30px; }
        .schedule-day ul li .event {
          width: 76%; }

.viewing-parties {
  position: relative;
  background-color: #020221;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 200px; }
  @media only screen and (max-width: 768px) {
    .viewing-parties {
      padding-bottom: 45vw; } }
  .viewing-parties-top {
    width: 100%;
    padding: 0 12vw;
    display: flex;
    margin: 0 auto;
    z-index: 1; }
    @media only screen and (max-width: 1200px) {
      .viewing-parties-top {
        max-width: 100%;
        padding: 0 6vw; } }
    @media only screen and (max-width: 992px) {
      .viewing-parties-top {
        margin-bottom: 20px; } }
    @media only screen and (max-width: 768px) {
      .viewing-parties-top {
        flex-direction: column; } }
    .viewing-parties-top-left {
      width: 60%; }
      @media only screen and (max-width: 768px) {
        .viewing-parties-top-left {
          width: auto; } }
    .viewing-parties-top-right {
      width: 40%;
      display: flex;
      align-items: flex-end;
      flex-direction: column; }
      @media only screen and (max-width: 768px) {
        .viewing-parties-top-right {
          width: auto;
          align-items: flex-start;
          padding-top: 30px; } }
  .viewing-parties ul {
    width: 100%;
    padding: 0 12vw;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 60px; }
    @media only screen and (max-width: 1200px) {
      .viewing-parties ul {
        max-width: 100%;
        padding: 0 6vw; } }
    .viewing-parties ul li {
      width: 50%;
      padding: 0 20px 20px 0; }
      @media only screen and (max-width: 992px) {
        .viewing-parties ul li {
          width: 100%;
          padding-right: 0; } }
    .viewing-parties ul .viewing-party {
      background: #0B253A;
      padding: 30px;
      border-radius: 5px;
      font-size: 12px; }
      .viewing-parties ul .viewing-party h4 {
        margin: 0;
        text-transform: none;
        letter-spacing: normal; }
      .viewing-parties ul .viewing-party p {
        margin: 15px 0; }
      .viewing-parties ul .viewing-party a {
        width: fit-content; }

.mingling-swag {
  background-color: #020221;
  background-image: url(/partners-bottom.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  position: relative;
  display: flex;
  color: #FFFFFF;
  padding: 0 12vw 200px; }
  @media only screen and (max-width: 1200px) {
    .mingling-swag {
      max-width: 100%;
      padding: 0 6vw 200px; } }
  .mingling-swag-inside {
    background: #0B253A;
    border-radius: 5px;
    display: flex;
    padding: 60px; }
    @media only screen and (max-width: 992px) {
      .mingling-swag-inside {
        flex-direction: column;
        padding: 40px; } }
    .mingling-swag-inside h4 {
      margin-top: 0; }
    .mingling-swag-inside p {
      margin-bottom: 15px; }
    .mingling-swag-inside-left {
      width: 50%;
      padding-right: 30px; }
      @media only screen and (max-width: 992px) {
        .mingling-swag-inside-left {
          width: 100%;
          padding: 0 0 40px; } }
    .mingling-swag-inside-right {
      padding-left: 30px;
      width: 50%; }
      @media only screen and (max-width: 992px) {
        .mingling-swag-inside-right {
          width: 100%;
          padding: 0; } }

.partners {
  background-color: #020221;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 200px;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .partners {
      padding-bottom: 100px; } }
  .partners-top {
    width: 100%;
    padding: 0 12vw;
    display: flex;
    margin: 0 auto;
    z-index: 1; }
    @media only screen and (max-width: 1200px) {
      .partners-top {
        max-width: 100%;
        padding: 0 6vw; } }
    @media only screen and (max-width: 992px) {
      .partners-top {
        margin-bottom: 20px; } }
    @media only screen and (max-width: 768px) {
      .partners-top {
        flex-direction: column; } }
    .partners-top-left {
      width: 60%; }
      @media only screen and (max-width: 768px) {
        .partners-top-left {
          width: auto; } }
    .partners-top-right {
      width: 40%;
      display: flex;
      align-items: flex-end;
      flex-direction: column; }
      @media only screen and (max-width: 768px) {
        .partners-top-right {
          width: auto;
          align-items: flex-start;
          padding-top: 30px; } }
  .partners-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 12vw;
    margin-bottom: 20px;
    z-index: 1; }
    @media only screen and (max-width: 1200px) {
      .partners-list {
        max-width: 100%;
        padding: 0 6vw; } }
    @media only screen and (max-width: 992px) {
      .partners-list h4 {
        margin-top: 20px; } }
    .partners-list ul {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      margin-right: -20px; }
      .partners-list ul li {
        width: 33.3%;
        margin-bottom: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        align-items: center;
        position: relative; }
        .partners-list ul li:after {
          content: url("../images/bubbles.svg");
          position: absolute;
          bottom: 99%;
          right: 30px;
          width: 60px;
          height: 100px;
          display: none;
          animation: fadeIn 250ms ease-out;
          z-index: -1; }
        .partners-list ul li:hover:after {
          display: block; }
        @media only screen and (max-width: 992px) {
          .partners-list ul li {
            width: 50%; } }
        .partners-list ul li a img {
          width: 100%;
          border-radius: 5px; }
  .partners .submarine {
    height: 503px;
    width: 70vw;
    position: absolute;
    left: 0;
    top: 40%;
    z-index: 0;
    overflow-x: hidden; }
    @media only screen and (max-width: 1200px) {
      .partners .submarine {
        width: 100vw; } }
  .partners .element {
    position: absolute;
    z-index: 0; }
    @media only screen and (max-width: 768px) {
      .partners .element-1 {
        max-width: 400px; } }
    @media only screen and (max-width: 576px) {
      .partners .element-1 {
        max-width: 300px; } }
    .partners .element-2 {
      top: 0;
      width: 100%; }
    .partners .element-3 {
      bottom: 0;
      width: 100%; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.footer {
  background: #110C2A;
  background-image: url(/footer-bottom.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 600px;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .footer {
      min-height: 500px; } }
  .footer-top {
    width: 100%;
    padding: 0 12vw;
    margin: 0 auto;
    display: flex;
    margin-top: 100px; }
    @media only screen and (max-width: 1200px) {
      .footer-top {
        margin-top: 0;
        padding: 0 6vw; } }
    @media only screen and (max-width: 768px) {
      .footer-top {
        flex-direction: column; } }
    .footer-top-left {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      @media only screen and (max-width: 1200px) {
        .footer-top-left {
          width: 35%; } }
      @media only screen and (max-width: 992px) {
        .footer-top-left {
          width: 50%; } }
      @media only screen and (max-width: 768px) {
        .footer-top-left {
          width: 100%; } }
      .footer-top-left h4 {
        margin-top: 0; }
        .footer-top-left h4 a {
          color: #34F5B9; }
      .footer-top-left .btn {
        margin-top: 20px; }
  .footer-bottom {
    width: 100%;
    padding: 0 12vw;
    margin: 300px auto 20px;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 1200px) {
      .footer-bottom {
        padding: 0 6vw; } }
    @media only screen and (max-width: 768px) {
      .footer-bottom {
        flex-direction: column;
        margin-top: 150px;
        margin-bottom: 60px; } }
    .footer-bottom-left {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media only screen and (max-width: 768px) {
        .footer-bottom-left {
          width: auto;
          align-items: center;
          margin-bottom: 40px; } }
      .footer-bottom-left p {
        font-size: 12px;
        letter-spacing: 1px; }
        @media only screen and (max-width: 576px) {
          .footer-bottom-left p {
            font-size: 10px; } }
      .footer-bottom-left span {
        margin: 0 15px; }
        @media only screen and (max-width: 576px) {
          .footer-bottom-left span {
            margin: 0 5px; } }
      .footer-bottom-left svg {
        margin-right: 10px;
        transition: all 0.2s;
        margin-bottom: -2px; }
        .footer-bottom-left svg:hover path {
          fill: #FF6154; }
    .footer-bottom-right {
      width: 20%; }
      @media only screen and (max-width: 768px) {
        .footer-bottom-right {
          width: auto;
          align-items: center; } }
  .footer .angler {
    position: absolute;
    right: 0;
    top: -40px; }
    .footer .angler:after {
      content: '';
      background: #57ffe9;
      background: radial-gradient(circle, rgba(87, 255, 233, 0.8) 0%, rgba(122, 202, 196, 0) 30%);
      width: 30%;
      height: 30%;
      border-radius: 50%;
      mix-blend-mode: hard-light;
      position: absolute;
      top: 0;
      left: 3%;
      transform: scale(1);
      animation: pulse 2600ms ease-in-out infinite alternate; }
    @media only screen and (max-width: 768px) {
      .footer .angler {
        position: relative;
        margin: 0 auto;
        text-align: center; } }
    @media only screen and (max-width: 1200px) {
      .footer .angler img {
        max-width: 600px;
        width: 100%; } }
    @media only screen and (max-width: 992px) {
      .footer .angler img {
        max-width: 400px; } }

@keyframes pulse {
  from {
    transform: scale(1); }
  to {
    transform: scale(4.5); } }

.secondary {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F6EAD0; }
  .secondary .container {
    margin: 0 auto;
    position: relative;
    width: 65%;
    flex: 1;
    min-height: auto; }
    @media only screen and (max-width: 992px) {
      .secondary .container {
        width: 85%; } }
    .secondary .container header {
      padding: 40px 20px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .secondary .container header img {
        max-width: 200px; }
    .secondary .container h4 {
      margin-top: inherit; }
    .secondary .container p {
      margin-bottom: 20px; }
  .secondary .footer {
    min-height: auto;
    flex-shrink: 0;
    margin-top: 40px; }
    .secondary .footer-bottom {
      margin: 50px 20px; }
